#origins.column.grid_12

  .titlebar.row
    .column.grid_3
      %h1 Story / Origins
    .column.grid_9

  .row
    .body.column.grid_9
      %h3 In The Beginning

      %p= lorem.paragraph
      %p= lorem.paragraph
      %p= lorem.paragraph
      %p= lorem.paragraph
      %p= lorem.paragraph

    .sidebar.column.grid_3
      %p Sidebar
