-title_and_h1 "Wanted List"

.column.grid_12
  .body
    - @wanted.each do |i|
      %h4= "Wanted Entry #{i._id}"
      %p
        %strong Name: 
        = "#{i.name}"
        %br
        %strong Bounty: 
        = "#{number_with_delimiter(i.amount, :delimiter => ",")}"
        %br
        %strong Contact:
        = "#{i.contact}"
        %br
        %strong Details: 
        = "#{i.info}"
